---
// src/pages/about.astro
import Layout from "../layout/Layout.astro";
import AboutUs from "../components/AboutUs.astro";
import Empanelment from "../components/Empanelment.astro";
---

<Layout title="Abhyuday | About Us">
  <main class="flex flex-col min-h-screen">
    <AboutUs />
    <Empanelment />
  </main>
</Layout>
