---
// src/pages/about.astro
import Layout from "../layout/Layout.astro";
import Heroen from "../components/Heroen.astro";
---

<Layout title="Abhyuday | About Us">
  <main class="flex flex-col min-h-screen">
    <Heroen />
  </main>
</Layout>