---
// src/pages/projects.astro
import Layout from "../layout/Layout.astro";
import Casestudies from "../components/Casestudies.astro";
---

<Layout title="B2C | Projects">
  <main class="flex flex-col min-h-screen">
    <Casestudies />
  </main>
</Layout>
