---
// src/pages/schemes.astro
import AboutPMFME from "../components/AboutPMFME.astro";
import ApplicationPMFME from "../components/ApplicationPMFME.astro";
import BenefitsPMFME from "../components/BenefitsPMFME.astro";
import Layout from "../layout/Layout.astro";

---

<Layout title="B2C | Schemes">
  <main class="flex flex-col min-h-screen">
    <AboutPMFME />
    <BenefitsPMFME />
    <ApplicationPMFME />
  </main>

</Layout>
